*{font-family:"Noto Serif",serif}body{margin:0}h1,h2,h3{font-family:Roboto,sans-serif}.content{max-width:950px;margin:auto}a{color:#c30631}hr{margin:70px 0;border:solid #eee 2px}.content{margin-bottom:150px}
